<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text comp">
        <div class="grid-item photo-1">1</div>
        <div class="grid-item photo-2">2</div>
        <div class="grid-item photo-3">3</div>
        <div class="text">
          <div class="name">Adama Cherif</div>
          <div class="height">Height</div>
          <div class="weight">weight</div>
          <div class="hair">Hair</div>
          <div class="eyes">Eyes</div>
          <div class="dress">Dress</div>
          <div class="waist">Waist</div>
        </div>
      </div>
    </div>
  </div>
</div>
