@import "comp-card"
@import "comp-form"

.theme-editor
    display: flex
    align-items: baseline
    margin: 5%

.comp
    margin: 1%

.sticky
    position: fixed
    top: 0

.sticky + .comp-form
    margin-left: 625px