<div class="theme-editor">
  <div id="comp-card-container">
    <div class="comp comp-card" id="comp-card">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text comp-content">
          <div class="grid-item photo-1" id="photo-1">1</div>
          <div class="grid-item photo-2" id="photo-2">2</div>
          <div class="grid-item photo-3" id="photo-3">3</div>
          <div class="text">
            <div class="name" id="name-id">{{ model.name }}</div>
            <!-- <div class="height">Height: 5' 9"</div> -->
            <div class="desc" *ngFor="let attr of model.attributes()">
              <div id="{{ attr }}-id" class="{{ attr }}">
                {{ attr }}: {{ model[attr] }}
              </div>
            </div>
          </div>
          <div class="grid-item contact">
            (215) 555-1234 | model@agency.com
          </div>
        </div>
      </div>
    </div>
    <a class="waves-effect waves-light btn-large" (click)="downloadCard()"
      >Download</a
    >
  </div>
  <div class="comp comp-form">
    <div class="card blue-grey lighten-4">
      <div class="card-content white-text comp-content">
        <div class="row">
          <div class="input-field">
            <input
              id="name"
              type="text"
              [(ngModel)]="model.name"
              (keyup)="adjustToFitDiv()"
            />
            <label for="name">Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field" *ngFor="let attr of model.attributes()">
            <input id="{{ attr }}" type="text" [(ngModel)]="model[attr]" />
            <label for="{{ attr }}">{{ attr }}</label>
          </div>
        </div>

        <div class="row" *ngFor="let i of photoIndices">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" multiple />
              <input
                #imageInput
                type="file"
                accept="image/*"
                (change)="fileChangeEvent($event)"
                id="image-{{ i }}"
              />
            </div>
            <div class="file-path-wrapper">
              <input
                class="file-path validate"
                type="text"
                placeholder="Upload Image for Photo {{ i }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="6559232000000001 / 8576000000000000"
      [resizeToWidth]="256.22"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <div class="modal-footer">
    <div
      (click)="doneEditing()"
      class="modal-close waves-effect waves-green btn-flat"
    >
      Done
    </div>
  </div>
</div>
